@import '../../../scss/variables';

.dropdown-item {
   display: flex;
   align-items: center;
   gap: 10px;

   width: 100%;

   padding: 8px 10px;

   &:hover {
      background-color: #000000;
      border-radius: 10px;
   }

   &__icon-box {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 30px;
      height: 30px;
      border-radius: 50%;
   }

   &__icon {
      color: #ffffff;

      width: 15px;
      height: 15px;
   }

   &__text {
      color: #ffffff;
      font-size: 12px;
      white-space: nowrap
   }
}