@import '../../../../../../scss/variables';

.login {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;

   background-color: $white-color;
   width: 66px;
   height: 100%;

   &__icon {
      color: $black-color;
      width: 30px;
      height: 30px;
      transition: 0.5s;
   }

   &__text {
      font-size: 14px;
      font-weight: 500;
      color: $black-color;
      transition: 0.5s;
   }
}

.login:hover .login__icon {
   color: $red-color;
   transition: 0.5s;
}

.login:hover .login__text {
   color: $red-color;
   transition: 0.5s;
}