@import '../../../../../../scss/variables';

.signup-modal-window {
   display: flex;
   align-items: center;
   justify-content: center;

   position: fixed;
   z-index: 1000;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100vw;

   backdrop-filter: blur(5px);

   &_open {
      display: flex;
      align-items: center;
      justify-content: center;
      
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100vw;
   }

   &_close {
      display: none;
      height: 0;
   }

   &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;

      width: 400px;
      padding: 20px 50px 20px 50px;
      background-color: $white-color;
      border-radius: 10px;

      position: relative;

      -webkit-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
   }

   &__close-button {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: $white-color;
   }

   
   &__close-button-icon {
      background-color: $white-color;
      color: $red-color;
   }

   &__title {
      font-size: 30px;
      font-weight: 600;
      color: $red-color;
      padding: 30px 0px 40px 0px;
      
      align-self: center;
   }

   &__form {
      display: flex;
      flex-direction: column;
      gap: 10px;

   }

   &__label {
      display: flex;
      flex-direction: column;
      gap: 5px;

      color: $red-color;
      font-size: 18px;
      font-weight: 500;
   }

   &__name {
      display: flex;
      align-items: center;
      height: 35px;

      border: 2px solid $red-color;
      border-radius: 5px;
      padding: 0px 10px;

      font-size: 18px;
   }

   &__email {
      display: flex;
      align-items: center;
      height: 35px;

      border: 2px solid $red-color;
      border-radius: 5px;
      padding: 0px 10px;

      font-size: 18px;
   }

   &__password {
      display: flex;
      align-items: center;
      height: 35px;

      border: 2px solid $red-color;
      border-radius: 5px;
      padding: 0px 10px;

      font-size: 18px;
   }

   &__repeat-password {
      display: flex;
      align-items: center;
      height: 35px;

      border: 2px solid $red-color;
      border-radius: 5px;
      padding: 0px 10px;

      font-size: 18px;

   }

   &__or {
      display: flex;
      align-items: center;
      gap: 5px;

      padding: 15px 80px;
   }

   &__or-line {
      flex-grow: 1;
      height: 2px;
      background-color: $red-color;
   }

   &__or-text {
      font-size: 18px;
      font-weight: 500;
      color: $red-color;
   }

   &__continue-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      margin-bottom: 10px;
   }

   &__google {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      padding: 10px 0px;
      border-radius: 5px;
      background-color: rgb(4, 70, 236);
      color: $white-color;

      font-size: 16px;
   }

   &__google-icon {
      color: $white-color;
      width: 30px;
      height: 30px;
   }

   &__apple {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      padding: 10px 0px;
      border-radius: 5px;
      background-color: $black-color;
      color: $white-color;

      font-size: 16px;
   }

   &__apple-icon {
      color: $white-color;
      width: 30px;
      height: 30px;
   }

   &__signup-button {
      align-self: center;
      padding: 10px 20px;

      background-color: $red-color;
      border-radius: 5px;
      color: $white-color;
      font-size: 18px;
      font-weight: 500;
   }
}