@import '../../../../../../scss/variables';

.smart-phones-memory-size {

   &__title {
      font-size: 20px;
      color: $red-color;
      font-weight: 500;
      margin-bottom: 5px;
   }

   &__decor {
      width: 100%;
      height: 2px;
      background-color: $red-color;
      margin-bottom: 15px;
   }

   &__buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }

   &__label {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 16px;
      font-weight: 500;
   }

   &__input {
      width: 20px;
      height: 20px;
   }
}