:root {

}

[data-theme="light"] {

}

$red-color: #E31235;
$black-color: #000000;
$white-color: #ffffff;
$gray-color: rgb(101, 101, 101);


$footer-black-color: #000000;
$footer-white-color: #ffffff;
$footer-gray-color: #F2F5F9;

$telegram-color: #0088cc;
$instagram-color: #F77737;
$twitter-color: #1DA1F2;